.img{
    width: 70px;
   
}
.footer-1{
    padding-left: 150px;
}
.footer-1 img {
    margin-left: 40px;
}
.footer-2{
    padding-left: 200px;
    margin-top: 25px;
}
.footer-title{
    margin: auto;
}